
html{
    border: olivedrab;
    box-sizing: 4rem;
    
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 50rem;
    margin: 0 auto;
    background-color: rosybrown;
    font-size: 1.3rem;

   
    
}

h1{
    color: orange;
    text-align: center;
    font-size: 3rem;

}

h2{
    color: purple;
    text-align: center;
    font-size: 2rem;

}

h3{
    color: rgb(61, 4, 4);
    text-align: center;
    font-size: 1.5;
}

nav{
    font-size: 2rem;
    text-align: center;
  
}
a{
    text-decoration: none;
    color: red;
}