@charset "UTF-8";

main{
  font-size: 20px;
}


 img {
   max-width: 50%;
   float: left;
   margin-left: 1rem;
   padding: 1rem;

   
 }

 nav ul li{
  text-align: right;
  margin-left: 4rem;
  display: inline-block;

}


a {
  color: rgb(236, 18, 152);
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-left: 10rem;
  background-color: rgb(140, 228, 240);
 
}


header > h1{
  color: blueviolet;
  text-align: center;
}

main h2{
  text-align: center;
  color: crimson;
}
a:hover{
  background-color: grey;
  transition: 2s;
}
article{
  grid-template-columns: repeat(3, 400px);
  display: grid;
  background-color: lightgrey;
  height: 25rem;
  
}
article > p {
  margin-left: 1rem;
}
b {
  color: red;
}

 @media (min-width: 400px) {
  h1 {
    grid-template-columns:repeat(3, 40px);
  }
}