@charset "UTF-8";


html{
    background-color: rgb(199, 245, 107);
    text-align: center;
}
main p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header > h1{
    text-align: center;
    color: tomato;
}

a{
    text-decoration: none;
}
nav{
    display: inline;
    box-sizing: 5rem;
}

footer > a{
    color: red;
}

 @media (
  min-width: 480px) {
  h1 {
    font-size: 2rem;
  }
}